.square {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: var(--mantine-color-dark-6);
    }
}